*,
*::before,
*::after {
  box-sizing: border-box;
}
html{
    background-image:
    linear-gradient(rgba(255,105,180,0.7), rgba(173,216,230,0.7), rgba(144,238,144,0.7)),
    url('https://www.transparenttextures.com/patterns/axiom-pattern.png');
}
body {
    font-family: Arial, sans-serif;
    width: 75%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.35); */
    padding: 1em;
    /* border-left: .3em dashed rgba(255, 255, 255, 0.4);
    border-right: .3em solid rgba(255, 255, 255, 0.4); */

}
header {
    /* background-color:   rgba(0, 0, 0, 0.7); */
    color: white;
    padding: 1rem;
    text-align: center;
}
nav {
    /* background-color: rgba(255, 255, 255, 0.9); */
    padding: 0.5rem;
}
nav a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
    color: black
}
main {
    padding: 2rem;
    /* background-color: rgba(255, 255, 255, 0.4); */
}

svg{
    width: 1em;
}
body > a {
    display: none;
}
nav ul li {
    display: inline;
    margin-right: 1rem;
}

header .container:first-of-type {
    border: 5px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.35);
    padding: 1em 1em 5em 1em;
    border-radius: 2em;
    color: black;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    transition: all 0.3s ease;
}
header > .container:first-of-type:hover {
    box-shadow: -1em -1em 1em hotpink, 0 0 10px rgba(255, 255, 255, 0.5);
    transform: translate(0.5em, 0.5em);
    transition: all 0.3s ease;
}